.menu {
  width: 100%;
  text-decoration: wavy;
  text-align: center;
  margin: 1rem auto 1rem auto;
}

.questions-card {
  display: none;
}

.card-content {
  display: flex;
  background-color: transparent;
  padding: 1.5rem;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.score {
  display: none;
}

.scorecard {
  display: none;
}

.card {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.button {
}
